In [1]:
import pandas as pd
import numpy as np

In [24]:
infusiondrug=pd.read_csv("infusionDrug.csv")
infusiondrug.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,infusiondrugid,patientunitstayid,infusionoffset,drugname,drugrate,infusionrate,drugamount,volumeoffluid,patientweight
0,1953469,242040,457,Milrinone (mcg/kg/min),.43,11.8,20.0,100.0,91.7
1,1998443,242082,425,Norepinephrine (mcg/min),10.93,41.0,4.0,250.0,NaN
2,1968206,242082,125,Norepinephrine (mcg/min),7,26.3,4.0,250.0,NaN
3,1991487,242082,665,NS (ml/hr),200,200.0,NaN,NaN,NaN
4,1969910,242082,55,Norepinephrine (mcg/min),2.13,8.0,4.0,250.0,NaN

In [25]:
infusiondrug.dtypes

infusiondrugid         int64
patientunitstayid      int64
infusionoffset         int64
drugname              object
drugrate              object
infusionrate         float64
drugamount           float64
volumeoffluid        float64
patientweight        float64
dtype: object

In [26]:
inf_cpy=infusiondrug

In [27]:
infusiondrug['drugname']=infusiondrug['drugname'].astype('str')

In [28]:
any(infusiondrug['drugname'].isnull())

False

In [29]:
drug_names=infusiondrug['drugname'].unique()

In [31]:
for name in drug_names:
    if("Dobuta" in name):
        print(name)

Dobutamine (mcg/kg/min)
Dobutamine (mcg/min)
Dobutamine (ml/hr)
Dobutamine
Dobutamine ()
Dobutamine (mcg/kg/hr)
Dobutamine (units/min)

In [ ]:
infusiondrug

In [32]:
infusiondrug=infusiondrug.loc[(infusiondrug['drugname'].str.contains("Dopamine")) | 
                              (infusiondrug['drugname'].str.contains("Norepinephrine")) | 
                              (infusiondrug['drugname'].str.contains("Epinephrine")) | 
                               (infusiondrug['drugname'].str.contains("norepinephrine")) | 
                               (infusiondrug['drugname'].str.contains("dopamine")) | 
                              (infusiondrug['drugname'].str.contains("Dobutamine"))]

In [34]:
import csv

In [35]:
infusiondrug.to_csv("cardiovascular_params.csv", sep=',', index=False, encoding='utf-8')

<h1>Continue from here</h1>

In [5]:
inf_drug=pd.read_csv('cardiovascular_params.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
inf_drug_new=inf_drug.loc[inf_drug['drugname'].str.contains("\(")]

In [19]:
inf_drug_new['unit']=""

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
inf_drug_new['unit']=inf_drug_new['drugname'].apply(lambda x: x.split('(')[1])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
inf_drug_new['drugname'].unique()

array(['Norepinephrine (mcg/min)', 'Dopamine (mcg/kg/min)',
       'Epinephrine (mcg/min)', 'Norepinephrine (ml/hr)',
       'Norepinephrine ()', 'Dopamine (ml/hr)', 'Dobutamine (mcg/kg/min)',
       'Norepinephrine (Unknown)', 'Norepinephrine (mcg/hr)',
       'Norepinephrine (mcg/kg/min)', 'Norepinephrine (mg/hr)',
       'Epinephrine (mcg/kg/min)', 'Epinephrine (ml/hr)',
       'Norepinephrine (mcg/kg/hr)', 'Norepinephrine (mg/min)',
       'Dobutamine (mcg/min)', 'Epinephrine (mcg/hr)', 'Dopamine ()',
       'Dobutamine (ml/hr)', 'Dopamine (mcg/min)',
       'dopamine (mcg/kg/min)', 'Epinephrine (mg/hr)',
       'Epinephrine (mg/kg/min)', 'Dopamine (mcg/hr)',
       'Norepinephrine (units/min)', 'Dobutamine ()',
       'Dobutamine (mcg/kg/hr)', 'Dopamine (mg/hr)', 'Dopamine (Unknown)',
       'Epinephrine ()', 'Dopamine (mcg/kg/hr)',
       'Norepinephrine (mg/kg/min)', 'Dopamine (nanograms/kg/min)',
       'norepinephrine Volume (ml) (ml/hr)', 'norepinephrine Volume (ml)',
       'Dobutamine (units/min)',
       'Norepinephrine STD 4 mg Dextrose 5% 250 ml (mcg/min)',
       'Norepinephrine MAX 32 mg Dextrose 5% 250 ml (mcg/min)',
       'Norepinephrine STD 8 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine STD 32 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine STD 4 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine MAX 32 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine STD 32 mg Dextrose 5% 282 ml (mcg/min)',
       'Norepinephrine STD 8 mg Dextrose 5% 250 ml (mcg/min)'],
      dtype=object)

In [27]:
inf_drug_filtered=inf_drug_new.loc[(inf_drug_new['unit'].str.contains("mcg/min")) | (inf_drug_new['unit'].str.contains("mcg/kg/min")) |
                (inf_drug_new['unit'].str.contains("mcg/hr")) | (inf_drug_new['unit'].str.contains("mg/hr")) |
                (inf_drug_new['unit'].str.contains("mcg/kg/hr")) | (inf_drug_new['unit'].str.contains("mg/min")) |
                (inf_drug_new['unit'].str.contains("mg/kg/min")) | (inf_drug_new['unit'].str.contains("nanograms/kg/min"))]

In [31]:
patient=pd.read_csv('patient.csv', usecols=['patientunitstayid', 'admissionweight', 'dischargeweight', 'unitdischargeoffset'])

In [52]:
len(inf_drug_filtered)

337283

<h2>Now we begin to change the units to a uniform mcg/min or mcg/kg/min</h2>

In [49]:
floats=[]
index=0
for value in inf_drug_filtered['drugrate']:
    index+=1
    try:
        x=float(value)
    except ValueError as e:
        print("error",e,"on line",index)

error could not convert string to float: 'OFF\\.br\\\\.br\\' on line 320429
error could not convert string to float: '30\\.br\\' on line 320970
error could not convert string to float: '50 mcg/min' on line 322544
error could not convert string to float: '50mcg/min\\.br\\' on line 322557
error could not convert string to float: 'OFF' on line 322915
error could not convert string to float: 'OFF' on line 322916
error could not convert string to float: 'OFF' on line 322925
error could not convert string to float: 'OFF' on line 329343
error could not convert string to float: 'OFF' on line 329363
error could not convert string to float: 'Documentation undone' on line 329443

<h4>Delete these lines - in the above lines</h4>

In [54]:
inf_drug_filtered=inf_drug_filtered.loc[~(inf_drug_filtered['drugrate']=='OFF\\.br\\\\.br\\') & ~(inf_drug_filtered['drugrate']=='30\\.br\\') &
                     ~(inf_drug_filtered['drugrate']=='50 mcg/min') & ~(inf_drug_filtered['drugrate']=='50mcg/min\\.br\\') &
                     ~(inf_drug_filtered['drugrate']=='OFF') & ~(inf_drug_filtered['drugrate']=='Documentation undone')]

In [57]:
inf_drug_filtered[['drugrate']]=inf_drug_filtered[['drugrate']].astype(str).astype(float)

<h4>Convert milli, nano to micro and hr to min</h4>

In [61]:
inf_drug_filtered.loc[inf_drug_filtered['unit'].str.contains("mg/hr"),'drugrate']=inf_drug_filtered['drugrate']*(100/6)
inf_drug_filtered.loc[inf_drug_filtered['unit'].str.contains("mcg/hr"),'drugrate']=inf_drug_filtered['drugrate']*(1/60)
inf_drug_filtered.loc[inf_drug_filtered['unit'].str.contains("mcg/kg/hr"),'drugrate']=inf_drug_filtered['drugrate']*(1/60)
inf_drug_filtered.loc[inf_drug_filtered['unit'].str.contains("mg/min"),'drugrate']=inf_drug_filtered['drugrate']*(1000)
inf_drug_filtered.loc[inf_drug_filtered['unit'].str.contains("mg/kg/min"),'drugrate']=inf_drug_filtered['drugrate']*(1000)
inf_drug_filtered.loc[inf_drug_filtered['unit'].str.contains("nanograms/kg/min"),'drugrate']=inf_drug_filtered['drugrate']*(1/1000)

In [65]:
inf_drug_filtered['unit']=inf_drug_filtered['unit'].replace(['mg/hr)','mcg/hr)','mg/min)','mcg/min)'],'mcg/min')

In [69]:
inf_drug_filtered['unit']=inf_drug_filtered['unit'].replace(['mcg/kg/hr)','mg/kg/min)','nanograms/kg/min)','mcg/kg/min)'],'mcg/kg/min')

In [71]:
inf_drug_filtered.to_csv("cardiovascular_params.csv", sep=',', index=False, encoding='utf-8')

<h4>Now, the only remaining thing to do to this table is adjust the drugrate with the patient weight from the patient.csv table</h4>

In [9]:
vitalp=pd.read_csv("vitalPeriodic.csv",chunksize=100000)

In [10]:
vp_list=[]
for chunk in vitalp:
    vp_list.append(chunk)

In [11]:
df_vitalp=pd.concat(vp_list)

In [18]:
df_vitalp.head()

,patientunitstayid,observationoffset,temperature,heartrate,systemicsystolic,systemicdiastolic
0,141168,2059,NaN,92.0,NaN,NaN
1,141168,1289,NaN,118.0,NaN,NaN
2,141168,1794,NaN,78.0,NaN,NaN
3,141168,1374,NaN,118.0,NaN,NaN
4,141168,2039,NaN,92.0,NaN,NaN

In [14]:
df_vitalp=df_vitalp[['patientunitstayid','observationoffset','temperature','heartrate','systemicsystolic','systemicdiastolic']]

In [16]:
df_vitalp.to_csv("systemicsystolic_measures.csv", sep=',', index=False,encoding='utf-8')

In [17]:
len(df_vitalp)

146671642

In [30]:
patient.head()

   patientunitstayid  admissionweight  dischargeweight  unitdischargeoffset
0             141168             84.3             85.8                 3596
1             141178             54.4             54.4                    8
2             141179              NaN             60.4                 2042
3             141194             73.9             76.7                 4813
4             141196              NaN             63.2                 1463

In [21]:
patient=patient[['patientunitstayid', 'admissionweight', 'dischargeweight', 'unitdischargeoffset']]

In [23]:
patient.head()

   patientunitstayid  admissionweight  dischargeweight  unitdischargeoffset
0             141168             84.3             85.8                 3596
1             141178             54.4             54.4                    8
2             141179              NaN             60.4                 2042
3             141194             73.9             76.7                 4813
4             141196              NaN             63.2                 1463

In [17]:
l='i am ronet( swaminathan'

In [18]:
l.split("(")

['i am ronet', ' swaminathan']

In [10]:
l.split(",")[1]

IndexError: list index out of range